.about {
   display: grid;
   grid-template-columns: 50% 50%;
   padding-left: 10vw;
   padding-right: 10vw;

   &__images {
      position: relative;

      img {
         height: 60vh;
         z-index: 2;
         position: absolute;

         &:nth-of-type(2) {
            width: 20vw;
            left: -2vw;
            bottom: 10vh;
            z-index: 1;
         }
      }
   }

   &__content {
      &__container {
         display: grid;
         gap: 6vh;
      }
   }

   &__title {
      color: white;
      margin-right: 3vw;
   }

   &__info {
      color: $text-color-2;
      margin-right: 3vw;
   }

   &__link {
      span {
         background-image: linear-gradient(to right, $orange-color, $pink-color);
         background-clip: text;
         -webkit-text-fill-color: transparent;
         -webkit-background-clip: text;
         font-size: 1.5vw;
         letter-spacing: 0.1vw;
      }

      width: max-content;
      display: inline-block;
      padding-bottom: 1rem;
      background: linear-gradient(to right, $orange-color, $pink-color) left bottom / var(--d, 20%) 3px no-repeat;
      transition: .2s ease-in-out;

      &:hover {
         --d: 100%;
      }
   }
}