.milestones {
   display: grid;
   grid-gap: 4vw;

   &__container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 5vh;
   }

   .milestone {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2vh;
      padding: 2.5vw;
      background-color: black;
      border-radius: 1rem;
      transition: .3s ease-in-out;

      &:hover {
         box-shadow: 0px 2px 4px 0px rgba(161, 12, 117, 0.534), rgba(18, 79, 105, 0.829) 0px 2px 16px 0px;
         transform: translateY(-10px);
      }

      &__icon {
         img {
            height: 8vh;
         }
      }

      &__number {
         color: white;
      }

      &__info {
         color: $text-color-4;
      }
   }
}