.services {
   display: grid;
   gap: 4vw;

   &__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2vw;
   }

   .service {
      background-color: black;
      padding: 3vw 2vw 3vw 3vw;
      display: grid;
      gap: 1vw;
      border-radius: 1rem;
      transition: .2s ease-in-out;

      &:hover {
         box-shadow: 0px 2px 4px 0px rgba(161, 12, 117, 0.534), rgba(18, 79, 105, 0.829) 0px 2px 16px 0px;
         transform: translateY(-10px);
      }

      &__logo {
         img {
            height: 8vh;
         }
      }

      &__title {
         color: white;
      }

      &__info {
         color: $text-color-3;
      }
   }
}